@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;500&display=swap');
*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
    transition: .3s;
}
img{
    display: block;
    width: 100%;
}

header a{
    width: 30%;
    margin: 0 auto;
}
header{padding: 30px 0;}

nav{
    padding: 10px 0;
    position: sticky;
    top: 0;
    background: #eee;
}
.gnb a{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 32px;
    border-bottom: 2px #eee solid;
    font-weight: 500;
}
.gnb a:hover{
    border-bottom: 2px firebrick solid;
}
.gnb{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

#contents{
    width: 70%;
    margin: 0 auto;
}
#contents a{
    border: 10px #fff solid;
}
#contents a:hover{
    border: 10px firebrick solid;
}

.imgbox li{width: 33.333%;}
.imgbox{
    display: flex;
    flex-wrap: wrap;/* 넘치는 거는 아래로 내려 */
}

footer a{
    width: 30%;
    margin: 0 auto;
}
footer{
    padding: 30px 0;
    background: firebrick;
}



.burger{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 40px;
    right:200px;
    display: none;
}
.bar{
    width: 40px;
    height: 8px;
    background: #999;
    position: absolute;
}
.burger.on .bar:nth-child(1){    
    display: none;
}
.burger.on .bar:nth-child(2){    
    top: 16px;
    transform: rotate(45deg);
}
.burger.on .bar:nth-child(3){
    top: 16px;    
    transform: rotate(-45deg);
}
.burger.on .bar:nth-child(4){    
    top: 32px;
    display: none;
}

.burger .bar:nth-child(1){    
    display: block;
}
.burger .bar:nth-child(2){   
    top: 16px; 
    transform: rotate(0deg);
}
.burger .bar:nth-child(3){
    top: 16px;        
    transform: rotate(0deg);
}
.burger .bar:nth-child(4){    
    top: 32px;
    display: block;
}

.popup_nav{
    position: absolute;
    width: 50%;
    left: -50%;
    background: rgba(0,0,0,.8);
    color: #fff;
    transition: .3s;
}
.popup_nav a{
    padding-left: 20px;
    line-height: 40px;
}
.popup_nav a:hover{
    background: dodgerblue;
}
.popup_nav.on{
    left: 0;
}

@media screen and (max-width:1024px){
    nav{display: none;}
    #contents{width: 90%;}
    .burger{display: block;}
}